

<form (submit)="onRegister">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="user.name" name="name">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" id="name" [(ngModel)]="user.email" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password">
  </div>

  <div>
    <button type="submit">Register</button>
  </div>

</form>

{{user | json}}